:root {
  --md-theme-default-primary: #448aff;
  --md-theme-default-accent: #5e52ff;
  --md-theme-default-theme: light;
  --md-theme-default-accent-on-background: #5e52ff;
}

.bg-primary {
  background-color: #e4e2ff !important;
}
